
#header{
    position:relative; 
    bottom:100px;
}
section:nth-child(odd){
    background-color:white;
}

section:nth-child(even){
    background-color:#f5f5f5;
}


.section-body h2{
    color: #4f2104;
}

.section-body h3, .section-body p{
    color: #505050;
    font-style: normal;
    font-family: sans-serif;
   
}

.section-body p,#payment  li{
    font-size:1.2em;
    font-family: sans-serif;
}


.section-body h3.section-subheading{
    line-height:1.6em;
    font-size:1.3em;
}

.campaign-item img{
    margin:30px auto;
}

.campaign-item{
    text-align:center;
}



.modal-body p, .modal-body ul li, .modal-body button{
    font-size:1.4em;
}

.modal-body h2{
    color: #4f2104;
}

#contact h2{
    margin-bottom:80px;
}

footer{
    background-color:#059f9d;
    color:white;
    padding-top: 80px;
    padding-bottom: 80px;
}

footer span.copyright{
    font-size: 0.6em;
}

div.left-footer img{
    margin-bottom:30px;
}

div.center-footer{
    margin-bottom:30px;
    font-size:1.3em;
}

.event{
    border-bottom: 1px solid; 
    margin-bottom:10px; 
    padding-bottom:20px;
}

.event h3{
    margin-bottom:5000px;
}

/* additional resources*/
p.custom-section{
    text-align: left;
}

/*#resources div.section-body > p:first-child > strong{*/
/*    font-size:11px;*/
/*}*/
/* 
MACRA CUSTOM
*/
/* navigation bar *//* color nav bar blue */
ul.navbar-right li a.page-scroll{ 
    color: #76FAF5;
}
/* MODAL STYLE */

.modal .modal-title {
    /*background: #059f9d; */
    color: #059f9d; 
    text-align:center;
}

.modal button.btn-default{
    background: #059f9d;
    margin:0 auto;
    margin: 0px 50% 0px 45%;
    color:white;
}
.modal-header, .modal-footer, .modal-body{
    padding:30px;
}

/* 
section list 
*/

ul.section-list li {
    margin:15px 0 0px 0px;
    list-style: none;
}
ul.section-list li:before {
  /* For a round bullet */
  content: '\2022';
  /* For a square bullet */
  /*content:'\25A0';*/
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -10px;
  bottom: 10px;
  color: #059f9d;
  font-size: 30px;
}
ul.section-list li span{
    padding-left:10px;
}
ul.section-list {
    margin-bottom:120px;
}
/* adjusted menu width so it adjsuts to mobile menu on ipad */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/* Basics section buttons */
.basics-button{
    border-style:none;
    margin-top:15px;
}
/* adjust header */
.heading-container{
    background-color:white;
}
.intro-lead-in{
    padding-bottom:10px;
}
/* header button */
#header-button{
    background-color:#059f9d;
}

/*#mymips .section-body p,#mymips .section-body li {*/
/*    font-size: 1.2em;*/

/*}*/